@import "tailwindcss";

@variant dark (.dark &);

@layer utilities {
  .bg-300\% {
    background-size: 300% 300%;
  }

  @keyframes flow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .animate-flow {
    animation: flow 4s linear infinite;
  }

 @keyframes color-wave {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .animate-color-wave {
    animation: color-wave 10s ease infinite;
  }
}